body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  width: 98%;
}

.content {
  margin: 0;
  padding: 20px;
  width: 100%;
}

h2 {
  background: #ffffff;
  margin-top: 15px;
}

a:link, a:visited, a:hover {
  color: inherit;
}

#social {
  display: none;
}

.tweety-bubble {
  visibility: hidden;
}

.content a.github {
  display: none;
}

.content {
  width: 100%;
}

.content > .section {
  margin: 0;
  width: 95%;
}

.formats {
  display: none;
}

ul > li > a {
  display: none;
}

hr {
  display: none;
}

.flag {
  display: none;
}