body {
  margin: 0;
  padding: 0;
  width: 98%;
}

#social {
  display: none;
}

.tweety-bubble {
  visibility: hidden;
}

.content a.github {
  display: none;
}

.content {
  width: 100%;
}

.content > .section {
  margin: 0;
  width: 95%;
}
